default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: joss
  password:
  database: namecheap-app_development

development:
  <<: *default

test:
  <<: *default
  database: namecheap-app_test

staging:
  <<: *default
  database: namecheap-app_staging
  username: namecheap-app
  password: <%= ENV['NAMECHEAP-APP_DATABASE_PASSWORD'] %>

production:
  <<: *default
  database: namecheap-app_production
  username: namecheap-app
  password: <%= ENV['NAMECHEAP-APP_DATABASE_PASSWORD'] %>
