$icon-font-path: "bootstrap-sass-official/"
@import "bootstrap-sass-official/bootstrap-sprockets"
@import "bootstrap-sass-official/bootstrap"
@import "font-awesome"

html
  overflow: -moz-scrollbars-vertical
  overflow-y: scroll

#main
  padding-top: 60px
