@import 'bootstrap'
@import 'font-awesome'
@import 'seiyria-bootstrap-slider'

@media (min-width: 1500px)
  .container
    width: 1470px

html
  overflow: -moz-scrollbars-vertical
  overflow-y: scroll

#main
  padding-top: 10px

  .top-filter
    .well
      margin-right: 10px
    .pagination
      margin: 0 10px

  .main-filter
    .panel-heading
      cursor: pointer
      text-align: center
    .tld-item
      padding: 3px
    .price-filter
      margin-top: 8px
    .tld-filter
      margin-top: 2px
